@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* animation */
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out;
}

@keyframes tvFadeZoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tv-fade {
  animation: tvFadeZoom 1.5s ease-in-out forwards;
  will-change: opacity;
}

.tv-image {
  background: black;
}
